.footer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer__link {
    font-size: 0.8rem;
    padding: 0 0.5rem;
}